@import url("block/reset.css");
@import url("block/normalize.css");
@import url("block/base.css");
@import url("block/header.css");
@import url("block/hero.css");
@import url("block/vacancies.css");
@import url("block/cards.css");
@import url("block/footer.css");
@import url("block/popup.css");