@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --color-black: #171717;
    --color-white: #fff;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--color-black);
    font-size: 14px;
}

.body__container {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #F3F4F8;
}

.container {
    margin: 0 auto;
    width: 1180px;
}

.color-violet {
    color: #2A18FF;
}

@media (max-width: 1024px) {
    .container {
        width: 880px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 680px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 290px;
    }
}

