@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --color-black: #171717;
    --color-white: #fff;
    --color-violet: #A6ADFF;
    --color-darkviolet: #2A18FF;
    --color-gray: #CCC;

}

body {
    font-family: 'Inter', sans-serif;
    color: var(--color-black);
    font-size: 14px;
}

.body__container {
    margin: 0 auto;
    max-width: 1440px;
    background-color: #F3F4F8;
}

.container {
    margin: 0 auto;
    width: 1180px;
}

.color-violet {
    color: var(--color-darkviolet);
}

.show {
    display: block !important;
}

.show__flex {
    display: flex !important;
}

.btn:focus {
    outline: 2px solid var(--color-violet);
}
.btn:hover {
    background: var(--color-darkviolet);
    color: var(--color-white)
}

@media (max-width: 1220px) {
    .container {
        width: 880px;
    }
}

@media (max-width: 924px) {
    .container {
        width: 680px;
    }
}

@media (max-width: 724px) {
    .container {
        width: calc(100% - 30px);
    }
}

