.footer__container {
    position: relative;
    height: 130px;
    padding-bottom: 40px;
}

.footer__copyright {
    margin-top: 27px;
}

.footer__developer {
    position: absolute;
    top: 48px;
    right: 0;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 1220px) {
    .footer__container {
        padding-bottom: 32px;
    }
} 

@media (max-width: 724px) {
    .footer__container {
        padding-bottom: 24px;
        height: auto;
    }
    .footer__copyright {
        margin-top: 16px;
    }
    .footer__developer {
        padding-top: 30px;
        position: static;
    }
} 