.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.header__btn {
    padding: 12px 32px;
    background-color: var(--color-violet);
    font-size: 20px;
    border-radius: 8px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}

@media (max-width: 1220px) {
    .header__container {
        padding-top: 32px;
        padding-bottom: 80px;
    }
}

@media (max-width: 924px) {
    .header__btn {
        display: none;
    }
    .header__container {
        padding-top: 24px;
        padding-bottom: 40px;
    }
}

@media (max-width: 724px) {
    .header__container {
        width: 290px;
    }
}