.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.header__btn {
    padding: 12px 32px;
    background-color: #A6ADFF;
    font-size: 20px;
    border-radius: 8px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
}