/* hero */

.hero {
    padding-bottom: 57px;
}

.hero__title {
    color: var(--color-black);
    font-size: 90px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    width: 780px;
    padding: 57px 0;
    margin: 0;
    position: relative;
}

.hero__title::after {
    content: "";
    display: block;
    width: 421px;
    height: 421px;
    background: url("../../img/hero.png") no-repeat bottom;
    background-size: contain;
    position: absolute;
    left: 798px;
    top: -63px;
}

@media (max-width: 1024px) {
    .hero__title {
        font-size: 64px;
        letter-spacing: 1.28px;
        width: 580px;
    }

    .hero__title::after {
        width: 340px;
        height: 340px;
        left: 580px;
        top: -53px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding-bottom: 0;
    }
    .hero__title {
        font-size: 52px;
        letter-spacing: 1.04px;
        width: 450px;
        padding: 40px 0;
    }

    .hero__title::after {
        width: 269px;
        height: 269px;
        left: 450px;
        top: -45px;
    }
}

@media (max-width: 320px) {
    .hero {
        padding-bottom: 20.5px;
    }
    .hero__title {
        font-size: 32px;
        letter-spacing: 0.64px;
        width: 290px;
        padding: 0;
        text-align: center;
    }

    .hero__title::after {
        width: 269px;
        height: 269px;
        margin: 0 auto;
        position: relative;
        left: 0;
        top: -15px;
    }
}
