.popup__window {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
}

.popup {
    position: fixed;
    top: 556px;
    left: calc(50% - 390px);
    width: 780px;
    height: 449px;
    border-radius: 16px;
    background: var(--color-white);
    padding: 36px;
}

.popup::after {
    content: "";
    display: block;
    background: url("../../img/likemen.png");
    position: absolute;
    right: 0;
    bottom: 0;
    width: 155px;
    height: 156px;
}

.popup__head {
    display: flex;
    gap: 20px;
    align-items: center;
}

.popup__img {
    width: 101px;
    height: 101px;
}

.popup__img img {
    width: 100%;
    height: 100%;
}

.popup__company {
    font-size: 32px;
    letter-spacing: 0.64px;
}

.popup__name {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    font-size: 20px;
    border-radius: 4px;
    background: #EAECFF;
    margin-top: 12px;
}

.popup__info {
    display: flex;
    gap: 20px;
    padding: 32px 0;
    line-height: 140%;
}

.popup__description {
    max-width: 465px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup__field {
    display: inline-flex;
    padding: 3px 10px;
    justify-content: center;
    border-radius: 30px;
    background: #EAECFF;
}

.popup__field:not(:last-child) {
    margin-bottom: 4px;
}

.popup__close {
    position: absolute;
    top: 12px;
    right: 12px;
}

@media (max-width: 1220px) {
    .popup {
        top: 486px;
    }
}

@media (max-width: 924px) {
    .popup {
        width: 680px;
        left: calc(50% - 340px);
        padding: 24px;
        top: 459px;
    }
    .popup__info {
        gap: 10px;
    }
    .popup__description {
        max-width: 418px;
    }
}

@media (max-width: 724px) {
    .popup {
        width: 290px;
        height: 619px;
        left: calc(50% - 145px);
        padding: 24px 15px;
        top: 448px;
    }
    .popup::after {
        display: none;
    }
    .popup__head {
        gap: 8px;
    }
    .popup__img {
        width: 60px;
        height: 60px;
    }
    .popup__company {
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.4px;
    }
    .popup__name {
        font-size: 12px;
        line-height: 120%;
        margin-top: 4px;      
    }
    .popup__info {
        flex-direction: column;
        gap: 24px;
        padding: 24px 0;

    }
    .popup__fields {
        max-width: 195px;
    }
}